<!-- FOOTER -->


<footer>
    <a class="vayounette-mail" href="#">vayounette@test.fr</a>
    <div class="social">
        <a href="#"><img id="social-img" src="{{ asset('img/icon/hiboulinkdin.png') }}"></a>
        <a href="#"><img id="social-img"src="{{ asset('img/icon/pandafacebook.png') }}"></a>
        <a href="#"><img id="social-img"src="{{ asset('img/icon/pipinblog.png') }}"></a>
        <a href="#"><img id="social-img"src="{{ asset('img/icon/renardinsta.png') }}"></a>
    </div>
    <ul class="footer-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Mention legal</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">A voir</a></li>
    </ul>
    <p class="copyright">Ikkrit & Vayounette @2021</p>
</footer>