/*  ABOUT VAYOUNETTE    */

.about-vayounette {
    width: 99%;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow:4px 4px 6px #888;
}

.about-paralax {
    background: center / cover no-repeat url('../../public/img/slide/5.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

.about-paralax2 {
    background: center / cover no-repeat url('../../public/img/slide/6.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

.about-paralax3 {
    background: center / cover no-repeat url('../../public/img/slide/5.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
}

.about-top {
    width: 100%;
    height: 20vh;
    padding: 1rem;
}

.about-top h2 {
    font-size: 3rem;
    padding: 1rem;
}

.about-paralax-mid {
    width: 100%;
    height: 20vh;
}

.about-paralax-mid p {
    font-size: 1.2rem;
    padding: 1rem;
}

.about-paralax-bottom {
    width: 100%;
    height: 20vh;
}

.about-img img {
    width: 10%;
}