<!-- NAV -->

<header>
    <h2><a href="#">Vayounette</a></h2>
    <nav>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_about') }}">Vayounette</a></li>
        <li><a href="{{ path('app_portefolio') }}">Portefolio</a></li>
        <li><a href="#">Market</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
    </nav> 
</header>
